.bo{
    width:600px;    height:100px;
    height:auto;
    border:1px solid black;
    padding:2cm;
    /* overflow: auto; */
}
.con1{
    width:200px;    height:200px;
    background-color:blue;
    float:left;
}
.con2{
    width:400px;    height:300px;
    background-color:red;
    float:right;
}
.clear{
    clear:both;
}